@CHARSET "UTF-8";
canvas {
	display: block;
}

.zoomButton {
    position: fixed;
    z-index: 3;
}

.gameTip {
    position: fixed;
    display: none;
    z-index: 11;
    top: 0px;
    background-color: rgba(255,255,224, .9);
    border: 1px #000000 solid;
    max-width : 160px;
}

.dropDownResources {
    position: absolute;
    overflow: auto;
    border: 2px #000000 solid;
    background-color: rgba(100, 100, 100, .5);
}

.gameButton {
	margin : 5px;
    padding: 5px;
	border: 3px #000000 solid;
	border-radius : 7px;
	display: inline-block;
}
.menuItem {
	margin : 5px;
    padding: 5px;
	display: inline-block;
}

.gameBoard {
	position: relative;
	width: 100%;
	overflow: auto;
}

.galaxyBoard {
	border: 3px #000000 solid;
	position: absolute;
	overflow: auto;
	left: 25%;
	top: 10px;
}

.actionMenu {
	top: 10px;
    left: 10px;
	width: 24%;
	border: 3px #000000 solid;
	position: absolute;
}

.canvasContainer {
	overflow: auto;
}

.xSlider{
	background-color: rgba(100, 100, 100, .9);
	overflow-x: auto;
	z-index: 5;
	display: inline-block;
	max-height: 380px;
	max-width: 97vw;
	white-space: nowrap;
}

.xSlider *{
	white-space: nowrap;
}

.xSlider * *{
	white-space: normal;
}

.activeFactionChoices, .factionChoices, div.playerInfoBoard {
	margin : 5px;
    padding: 5px;
    border: 1px #00ff80 solid;
    display: inline-block;
}

.activeFactionChoices p, .factionChoices p, div.playerInfoBoard p {
	font-size: 18px;
	margin:5px;
}

div.playerInfoBoard{
    position:relative;
    vertical-align: top;
}

/** cartes de jeu**/
card {
	position:relative;
	border-radius: 20px;
	padding: 5px;
	display: inline-block;
	height: 300px;
	width: 200px;
	border: 8px #000000 solid;
	margin: 5px;
}

cardTitle {
	padding: 3px;
	display: inline-block;
	border: 2px #000000 solid;
	position:absolute;
	height: 30px;
	width: 160px;
	top: 15px;
    left: 15px;
    text-align: center;
}

cardText {
	padding: 3px;
	display: inline-block;
	border: 2px #000000 solid;
	position:absolute;
	height: 155px;
	width: 160px;
	top: 65px;
    left: 15px;
    text-align: center;
}


bottomText {
	padding: 3px;
	display: inline-block;
	border: 2px #000000 solid;
	position:absolute;
	height: 50px;
	width: 160px;
	top: 240px;
    left: 15px;
    text-align: center;
}

/** cartes de jeu**/

/**menu modal**/

.infoStage {
	overflow: auto;
	display: none;
	position: fixed;
	left: 10%;
	top: 25%;
	z-index: 9;}

.modalBackGround {
	z-index: 8;
	background-color: rgba(100, 100, 100, .5);
	display:none;
	position: fixed;
	height:100%;
	width:100%;
	left: 0px;
	top: 0px;
}

/**help menu **/
.helpButton {
	display: block;
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 4;
}

.helpText {
	display: none;
	position: fixed;
	right: 90px;
	top: 10px;
	width: 300px;
	z-index: 3;
	padding: 3px;
	font-size: 14px;
}


/* Change background color of links on hover */
ul.gameTab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.gameTab li a:focus, .active {background-color: #ccc;}

 /* Style the list */
ul.gameTab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: block;
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 4;
}

/* Float the list items side by side */
ul.gameTab li {float: left;}

/* Style the links inside the list items */
ul.gameTab li a {
	cursor: pointer;
    cursor: hand;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Style the tab content */
.gametabcontent {
	position: fixed;
	left: -2px;
	bottom: 55px;
	z-index: 4;
    display: none;
    padding: 6px 12px;
}

/****/

/** images menu **/
strategyCard{ 
	margin: 3px;
	display: inline-block;
	position: relative; 
	height: 300px;
	width: 200px;
	border: 8px #000000 solid;
}

strategyCardTitle{
	padding: 3px;
	display: inline-block;
	position:absolute;
	height: 50px;
	width: 95%;
	top: 10px;
    left: 0px;
    text-align: center;
    font-size: 22px;
}

strategyCardText{
	padding: 3px;
	display: inline-block;
	position:absolute;
	height: 230px;
	width: 95%;
	top: 70px;
    left: 0px;
    text-align: center;
    font-size: 18px;
}

resourceMenu{ 
	vertical-align:top;
	margin: 3px;
	display: inline-block;
	position: relative; 
	height: 300px;
	width: 200px;
	border: 3px #000000 solid;
}

resourceMenu1{
	padding: 3px;
	display: inline-block;
	position:absolute;
	height: 94px;
	width: 95%;
	top: 0px;
    left: 0px;
    text-align: center;
    font-size: 20px;
}

resourceMenu2{
	padding: 3px;
	display: inline-block;
	position:absolute;
	height: 94px;
	width: 95%;
	top: 100px;
    left: 0px;
    text-align: center;
}

resourceMenu3{
	padding: 3px;
	display: inline-block;
	position:absolute;
	height: 94px;
	width: 95%;
	top: 200px;
    left: 0px;
    text-align: center;
}

.imageMenu { 
   position: absolute; 
   top: 0px;
   left: 5px;
}

.textMenu { 
   position: absolute; 
   top: 0px;
   left: 0px; 
   width: 100%; 
   font-size: 40px;
   color: #BDBDBD;
    text-shadow:
    -1px -1px 0 #7A5230,
    1px -1px 0 #7A5230,
    -1px 1px 0 #7A5230,
    1px 1px 0 #7A5230;
}

playerItemDisplay{ 
	vertical-align:top;
	margin: 3px;
	display: inline-block;
	position: relative; 
	height: 300px;
	width: 200px;
	border: 3px #000000 solid;
}

playerItemTitle{
	padding: 3px;
	display: inline-block;
	position:absolute;
	height: 44px;
	width: 95%;
	top: 0px;
    left: 0px;
    text-align: center;
    font-size: 20px;
}

playerItemList{
	padding: 3px;
	display: inline-block;
	position:absolute;
	height: 244px;
	width: 95%;
	top: 50px;
    left: 0px;
}

playerCardsTitle{
	padding: 3px;
	display: block;
	margin: 5px;
    text-align: center;
    font-size: 20px;
}

button.cardButton{
	display: block;
}
